html, body {
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  font-family: "JetBrains Mono Medium", Consolas, monospace !important;
  color: rgba(200, 200, 255, 0.5) !important;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #0f0f0f;
  background: transparent;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  width: 100vw;
  margin: 0;
  display: grid;
  grid-template-areas: "inputbox bfx" "inputbox nx";
  grid-template-columns: 420px auto;
  padding: 10px 20px;
  box-sizing: border-box;
  align-items: center;
}

h1, h2 {
  color: #f7c186;
}

input {
  outline: none;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  color: rgba(200, 200, 255, 0.5);
  border: 1px solid rgba(200, 200, 255, 0.1);
}
input::placeholder {
  color: rgba(200, 200, 255, 0.2);
}
input:focus {
  border: 1px solid #f7c186;
}

button {
  cursor: pointer;
  outline: none;
  background: transparent;
  border: 2px solid #f7c186;
  box-shadow: 0 0 0 rgba(247, 236, 205, 0.2);
  color: #f7c186;
  font-weight: 600;
  height: 50px;
  border-radius: 5px;
  transition: 0.1s ease-in-out;
}
button:hover {
  background: transparent;
  box-shadow: 0 0 20px rgba(247, 236, 205, 0.2);
  transform: skewX(-10deg);
}
button:active {
  background: transparent;
  scale: 0.95;
}

.styledSection {
  padding: 20px;
  background: rgba(0, 0, 20, 0.06);
  gap: 20px;
  box-sizing: border-box;
  border: 1px solid rgba(200, 200, 255, 0.1);
  border-radius: 10px;
  transition: 0.1s ease-in-out;
}
.styledSection:hover {
  border-color: #f7c186;
  background: rgba(0, 0, 20, 0.1);
}
.styledSection::before {
  content: "";
  position: absolute;
  pointer-events: none;
  width: 150px;
  height: 250px;
  top: -7px;
  left: -7px;
  border: 1px solid rgba(200, 200, 255, 0.1);
  border-radius: 17px 0 0 0;
  border-width: 1px 0 0 1px;
  transition: 0.1s ease-in-out;
}
.styledSection:hover::before {
  top: -10px;
  left: -10px;
  width: 200px;
  height: 200px;
  border-color: #f7c186;
}
.styledSection::after {
  content: "";
  position: absolute;
  pointer-events: none;
  width: 150px;
  height: 250px;
  bottom: -7px;
  right: -7px;
  border: 1px solid rgba(200, 200, 255, 0.1);
  border-radius: 0 0 17px 0;
  border-width: 0 1px 1px 0;
  transition: 0.1s ease-in-out;
}
.styledSection:hover::after {
  bottom: -10px;
  right: -10px;
  width: 200px;
  height: 200px;
  border-color: #f7c186;
}

.functionInputSection {
  display: grid;
  position: fixed;
  align-content: space-between;
  margin: auto 0;
  top: 20px;
  left: 20px;
  width: 400px;
  height: calc(100vh - 40px);
  grid-area: inputbox;
  grid-template-areas: "input" "range" "step" "plot" "button";
  grid-template-columns: 100%;
  gap: 20px;
  box-sizing: border-box;
}
.functionInputSection span {
  color: rgba(200, 200, 255, 0.5);
}
.functionInputSection .rangeBox {
  grid-area: range;
  flex-direction: column;
  gap: 10px;
  display: grid;
  grid-template-areas: "name input" "from finput" "to tinput" "step sinput";
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  align-items: center;
}
.functionInputSection input.input {
  color: #f7c186;
}
.functionInputSection .js-plotly-plot {
  grid-area: plot;
  margin: 0 auto;
}
.functionInputSection .acceptButton {
  grid-area: button;
}

.plotBox {
  display: flex;
  position: relative;
  box-sizing: border-box;
  margin: 10px auto;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px !important;
  width: 100%;
}
.loading div {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(200, 200, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}
.loading div::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid transparent;
  border-bottom-color: #f7c186;
  animation: rotation 1s linear infinite;
}
.loading div::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid transparent;
  border-bottom-color: #f7c186;
  animation: irotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes irotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.funcPlotBox {
  width: 100%;
  grid-area: fx;
}

.funcFPlotBox {
  width: 100%;
  grid-area: bfx;
}

.funcNPlotBox {
  width: 100%;
  grid-area: nx;
}

/*# sourceMappingURL=main.css.map */
